/*  Inicio Barra topo   */

:root {
  --cor-do-botao-mobile: #05062d;
  --cor-da-barrinha-do-botao-mobile: #ffffff;
  --cor-do-nome-da-logo: #1e1e1e;
  --cor-fundo-botao-brinde: #a2d6f9;
  --azul: #3140c5;
}

.header {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(4, 0, 15, 0.5);
  padding: 11px 40px;
  transition: all 0.5s;
  position: inherit;
  background-color: rgba(4, 0, 15, 0.5);
}

.header .logo .texto-logo {
  color: var(--azul);
  font-size: 1.5rem;
  font-weight: 600;
}

.navegacao {
  display: none;
}

.btn-barra {
  display: flex;
  flex-direction: row-reverse;
}

/* estilização do menu-mobile */

.seta {
  display: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
}

.navegacao .nav-menu a {
  color: #fff;
}

.navegacao a:hover {
  color: rgb(0, 2, 128);
}

.navegacao-mobile {
  background-color: #0400ff2a;
  backdrop-filter: blur(10px);
  position: absolute;
  display: grid;
  place-items: center;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 9;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: right;
  list-style: none;
}

.navegacao-mobile .nav-menu a {
  color: black;
  text-decoration: none;
  text-align: center;
  width: 100%;

  display: block;
  padding: 20px 30px;
  font-size: 2rem;
  font-weight: bold;
}

.navegacao-mobile .nav-menu a:hover {
  background-color: #1f219ea1;
}

.navegacao-mobile.abrir {
  visibility: visible;
}
.search {
  display: none;
}

.btn-menu-mobile {
  width: 35px;
  height: 35px;
  background-color: var(--cor-do-botao-mobile);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  border-radius: 4px;
}

.barrinha {
  height: 4px;
  width: 60%;
  border-radius: 10px;
  background-color: var(--cor-da-barrinha-do-botao-mobile);
  transition: 0.3s;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img-logo {
  width: 6vh;
  height: 4vh;
}

.btn-menu-mobile.ativo .barrinha:nth-child(1) {
  transform: translateY(5px) rotate(50deg);
}

.btn-menu-mobile.ativo .barrinha:nth-child(2) {
  display: none;
}

.btn-menu-mobile.ativo .barrinha:nth-child(3) {
  transform: translateY(-2px) rotate(-50deg);
}

/* Responsivo Tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
}

/* Responsivo Desktop */
@media screen and (min-width: 1024px) {
  button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
    border: 0;
    border-radius: 8px;
    -webkit-box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 13px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  button:active,
  button:hover {
    outline: 0;
  }

  button span {
    background-color: #05062d;
    padding: 11px 16px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    -webkit-transition: 300ms;
    transition: 300ms;
  }

  button:hover span {
    background: none;
  }

  button:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@media screen and (min-width: 1100px) {
}

/* Responsivo Responsivo 4k */
@media screen and (min-width: 1560px) {
}
